html {
    overflow-y: scroll;
}

body {
    font: 11px/1.1 'Raleway', sans-serif;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #006666;
}

header {
    margin: 1vmax 8vmax 0;
    height: 2vmax;
}

header div#title {
    float: left;
    margin-top: 2vmax;
    color: white;
    font-size: 3em;
}

header div#twitter {
    float: right;
    margin-right: 10px;
}

header div#github {
    float: right;
    margin: 8px 15px 0 0;
}